* {
    box-sizing: border-box;
    font-size: 62.2%;
    margin: 0;
}

.active {
    /* border: 2px solid red; */
}

body {
    background: #FBFBF6;
}

.body-bg {
    background: url(./background.png);
}

.notif-bar {
    width: 100%;
    height: 48px;
    padding: 12px 88px;
    background: #120102;
}

.notif-contact-section {
    justify-content: center;
    align-items: center;
}

.phone-number,
.notif-description,
.notif-button {
    color: #FBFBF6;
    text-align: center;
    font-family: Inter;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.notif-button {
    color: #BDFC6D;
}

nav-links {
    justify-content: center;
    align-items: center;
}


li {
    list-style-type: none;
}

button {
    color: #120102;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 1000px;
    border-radius: 1000px;
    width: 174px;
    height: 51px;
    padding: 16px 32px;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    border: 1px solid #360308;
    background: #360308;
    color: #DDD4D5;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.appointment-button {
    margin-top: 30px;
}

.navlink {
    color: #9A8183;
    font-family: Inter;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.4rem;
    /* mix-blend-mode: difference; */
}

.plus-icon {
    margin-left: -50px;
    z-index: 2;
    margin-top: 20px;
    /* margin-left: 105px; */
}

.hero-section {
    height: 584px;
    display: flex;
    padding: 90px;
    justify-content: space-between;
    align-items: center;
}

.hero-section-background {
    padding: 90px 0px;

}

.circle {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: 60px;
    margin-top: -75px;
    z-index: -1;
    margin-bottom: 150px;
}

.hero-text,
.canada-text {
    color: #191919;
    font-family: Playfair Display;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 555px;
    z-index: 1000;
}

.hero-section p {
    color: #444443;
    width: 530px;
    height: 56px;
    font-family: Inter;
    font-size: 2.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 30px;
}

.booking-icon {
    margin-left: -11px;
    margin-top: -16px;
}

.brands-description {
    color: #7A7A78;
    width: 220px;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.service-hero-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    height: 903px;
    background: #120102;

}

.service-hero-background {
    padding: 64px 88px;
    background: url(./service-backgroud.png);
    width: 1336px;
    height: 903px;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
}

.service-description {
    display: none;
}

.services-title {
    color: #EEEFED;
    font-family: Playfair Display;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.services-subtitle {
    color: #EEEFED;
    font-family: Inter;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 300;
    width: 580px;
    line-height: normal;
    margin-top: 10px;
}

.service-title {
    color: #79575A;
    font-family: Inter;
    font-size: 2.3rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.service-subtitle {
    color: #BABAB7;
    font-family: Inter;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.accordion-container {
    display: block;
    width: 100%;
}

.accordion-item {
    display: block !important;
    width: 498px;
    padding-top: 30px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.accordion-title.active {
    color: #F0F0EB;
}

.accordion-content.active {
    font-weight: bold;
}

.accordion-content {
    display: none;
}

.accordion-item.active .accordion-content {
    display: block;
}

.icon {
    display: none;
    margin-right: 10px;
    font-size: 20px;
    border-left: 4px solid #BDFC6D;
}

.accordion-item.active .icon {
    display: inline-block;
}

.accordion-item.active .accordion-title {
    color: #F0F0EB;
}

.accordion-item:hover .accordion-content {
    display: block;
}

.image-container {
    margin-left: 110px;
}

.image-container img {
    max-width: 657px;
    height: 559px;
}

/* Add animations for accordion items */
@keyframes accordionAnimation {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.accordion-item {
    animation: accordionAnimation 0.5s ease-in-out;
}

.blog-section {
    height: 710px;
    display: flex;
    padding: 0px 88px;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.blog-section-background {
    padding: 90px 0px;
}

.blog-subtitle {
    color: #79575A;
    text-align: right;
    width: 294px;
    font-family: Inter;
    font-size: 2.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: -180px;
    margin-top: 20px;
}

.blog-title {
    align-self: stretch;
    color: var(--grey-2100, #191919);
    text-align: right;
    width: 600px;
    font-family: Playfair Display;
    font-size: 4.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: -40px;
}

.blog-btn-section {
    align-items: center;
    margin-top: 80px;
    margin-left: 240px;
}

.blog-circle {
    margin-right: -130px;

}

.why-choose-us-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    align-self: stretch;
    background: #EDDCC8;
    height: 697px;
}

.why-choose-us-section-bg {
    background: url(./choose-us.png);
    padding: 64px 88px;
    width: 1336px;
    height: 696px;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
}

.why-choose-us-title {
    color: #191919;
    text-align: center;
    justify-content: center;
    font-family: Playfair Display;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.why-choose-us-subtitle {
    margin-top: 10px;
    margin-left: 280px;
    width: 600px;
    align-self: stretch;
    color: #444443;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card {
    border-radius: 11.558px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card-image {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 16px;
}

.card-title {
    margin-bottom: 8px;
    color: #F0F0EB;
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.card-subtitle {
    color: #DBDBD6;
    font-family: Inter;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}


.custom-card {
    flex: 1;
    display: inline-flex;
    padding: 5.779px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 11.558px;
    background: #120102;

}

.higher-card {
    margin-top: -50px;
}

/* Add hover effect for all cards */
.custom-card:hover {
    transform: scale(1.05);
}

.achievements-section {
    display: flex;
    background: #120102;
    height: 288px;
}

.achievements {
    display: flex;
    margin-left: 50px;
    padding-top: 80px;
    padding-bottom: 100px;
    align-items: center;
}

.icon-bg {
    width: 26.4px;
    height: 26.4px;
    padding: 25px;
    align-items: flex-start;
    border-radius: 188.235px;
    background: #9A8183;
    justify-content: center;

}

.achievements-icon {
    margin-left: -13px;
    margin-top: -10px;
}

.achievements-icon-1 {
    margin-top: -13px;
}

.achievements-body {
    gap: 120px;
}

.achievements-title {
    color: #F0F0EB;
    font-family: Playfair Display;
    font-size: 4.0rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 300px;
}

.achievements-number {
    font-size: 5.6rem;
    color: #F0F0EB;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.achievements-subtitle {
    color: #F0F0EB;
    font-family: Inter;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 200px;

}


.comment-card {
    overflow: hidden;
    position: relative;
    display: flex;
    height: 250px;
    width: 310px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border: 1px solid #E5E5E1;
    background: #F2E6D7;

}

.truncated-text {
    max-height: 592px;
    overflow: hidden;
    padding: 34px;
    color: #171F0D;
}

.full-text {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 10px;
    max-height: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

}

.comment-card:hover .full-text {
    opacity: 1;
    height: 400px;
    border-radius: 16px;
    border: 1px solid #E5E5E1;
    background: #120102;
    color: #DDD4D5;
    padding: 24px;

}

.testimonials-section {
    display: flex;
    gap: 100px;
    flex-direction: column;
    align-items: flex-start;
    padding: 88px;
    height: 700px;
    background: #EDDCC8;
}

.comment-slider {
    width: 1300px;
    height: 270px;

}

.named {
    color: white;

}

.comment-card:hover {
    height: 320px;
}

.comment-card p {
    font-family: inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
}

.testimonials-title {
    color: #191919;
    font-family: Playfair Display;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.testimonials-subtitle {
    color: #444443;
    text-align: center;
    font-family: Inter;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    justify-content: center;
    align-items: center;
    margin-left: 350px;
    width: 600px;
}

.client-name,
.user-section>.client-name {
    color: #171F0D;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.user-section>.client-name {
    margin-left: -20px;
}

.truncated-user-section>.client-company {
    color: #87B44D;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* margin-left: -20px; */
}

.user-section>.client-company {
    color: #A99D8E;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: -20px;
}

footer {
    display: flex;
    padding: 24px 88px;
    align-items: flex-start;
    gap: 56px;
    align-self: stretch;
    height: 625px;
    /* background: #FBFBF6; */
}

.footer-mobile-logo {
    display: none;
}

.subscribe-form-bg {
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    border-radius: 16px;
    background: var(--primary-1000, #120102);
    width: 379px;
    height: 331px;
}

.subscribe-form-title {
    color: var(--shade-white, #FFF);
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    font-family: Playfair Display;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    /* 38.4px */
    letter-spacing: -1.28px;
    align-self: stretch;
}

.subscribe-form-subtitle {
    color: var(--office-brown-100, #E4DBDB);
    font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 300;
    line-height: 145%;
    width: 290px;
}

input {
    /* display: flex; */
    width: 319px;
    height: 56px;
    padding: 16px;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    border-radius: 6px;
    border: 1px solid var(--grey-300, #D0D5DD);
    background: var(--shade-white, #FFF);
    margin-left: 50px;
}

::placeholder {
    padding-left: 18px;
    color: #98A2B3;
    font-feature-settings: 'cv04' on, 'cv03' on;
    font-family: Inter;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 300;
    line-height: 145%;
    /* margin-top: 150px; */
    /* 20.3px */
}

input:focus {
    padding-left: 30px;
    font-size: 1.4rem;
    font-family: Inter;
}



.email-icon {
    margin-right: -78px;
    margin-top: 17px;
    z-index: 999;
}

.business-links-title {
    color: #8D8484;
    font-family: Inter;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
    align-self: stretch;
}

.company-links-text {
    color: #3E3838;
    font-family: Inter;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;

    width: 118px;
}

.link-section {
    display: flex;
    align-items: flex-start;
    gap: 180px;
    flex: 0 0 1;
    align-self: stretch;
}

.footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.cta-section {
    display: flex;
    margin-top: 70px;
    gap: 174px;
    align-self: stretch;
}

.mobile-cta-section {
    display: none;
}

.company-address {
    color: #3E3838;
    text-align: right;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.company-email-address {
    color: #3E3838;
    font-family: Inter;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: right;
}

.navbar {
    display: none;
}

.copyright-text {
    color: #514A4A;
    text-align: right;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    flex: 1 0 0;
    text-align: left !important;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;

}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 313px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-left: -130px;
    margin-top: 8px;
    border-radius: 4px;
    border: 1px solid #DDD4D5;
    /* box-shadow: 0px 4px 8px 0px rgba(54, 3, 8, 0.15); */
}

.dropdown-content li {

    padding: 16px 24px;
    text-decoration: none;
    display: block;
}

.dropdown-link {
    color: #360308;
    font-family: Inter;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.mobile-horizontal-line {
    display: none;
}

.mobile-navigation {
    display: none;
}

/* styles.css */


.navbar {
    /* background-color: #333; */
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    /* width: 1512px; */
    height: 80px;
    flex-shrink: 0;
    border: 1px solid rgba(208, 208, 204, 0.70);
    background: rgba(251, 251, 246, 0.30);
    backdrop-filter: blur(8px);
    position: fixed;
    z-index: 1000;
}

.hamburger {
    display: none;
}



.menu-toggle {
    cursor: pointer;
    display: none;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #2F2F2E;
    margin: 5px 10px 0 0;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin-right: 20px;
    align-items: flex-end;
    /* border: 1px solid red; */
}

.menu a {
    text-decoration: none;
    /* color: black;
    font-weight: bold;
    font-size: 1rem; */
    transition: color 0.3s ease-in-out;
    color: #9A8183;
    font-family: Inter;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.4rem;
}

ul {
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    /* margin-right: 50px; */
}

/* Media query for mobile responsiveness */
@media only screen and (max-width: 768px) {
    body {
        background: #FBFBF6;
        margin: 0;
        /* background: black; */

    }

    .body-bg {
        background-image: none;
    }

    .notif-bar {
        width: 100%;
        height: 105px;
        display: flex;
        border-top: 1px solid #120102;
        background: #120102;
    }


    .phone-number,
    .notif-description,
    .notif-button {
        color: #FBFBF6;
        text-align: center;
        font-family: Inter;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        width: 250px;
    }

    .contact-info {
        display: none;
    }

    .notif-button {
        color: #BDFC6D;

    }

    .notif-decription-section {
        padding-top: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-left: 35px;
    }

    .mobile-horizontal-line {
        display: block;

    }

    .horizontal-line {
        display: none;
    }

    .mobile-navigation {
        display: block;
    }

    .nav-links {
        display: none;
    }

    .get-started-btn {
        display: none;
    }

    .site-logo {
        margin-left: 10px;
    }

    .navbar {
        position: static;
    }

    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        border-bottom: 1px solid var(--gray-100, #F2F4F7);
        background: #FBFBF6;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .checkbox {
        display: none;
    }

    .menu.active {
        display: flex;
    }

    .menu li {
        margin: 0;
        text-align: center;
        padding: 10px;
    }

    .menu-toggle {
        display: none;
    }

    .content {
        padding: 20px;
    }

    .hamburger {
        display: block;
    }

    .mobile-nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .mobile-menu-section {
        margin-right: -220px;
    }

    .hero-section {
        display: flex;
        padding: 0px 16px;
        flex-direction: column;
        align-items: center;
        margin-top: -90px;
        height: 900px;
        gap: 24px;
        align-self: stretch;
    }

    .hero-section-background {
        background: none;
    }

    .hero-text,
    .canada-text {
        color: #191919;
        text-align: center;
        font-family: Playfair Display;
        font-size: 4.0rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        align-self: stretch;
        justify-content: center;
        align-items: center;
        width: 400px;
        margin-top: 50px;
        padding-top: 50px;
        margin-left: 50px;
    }


    .circle {
        display: flex;
        flex-shrink: 0;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin-left: 105px;
        margin-top: -10px;
        width: 225.536px;
        height: 77.859px;
        z-index: -1;
        margin-bottom: 150px;
    }

    .canada-text {
        width: 20px;
    }

    .hero-text-btn {
        margin-top: -30px;
        margin-left: 50px;
    }

    .hero-subtitle {
        color: #444443;
        text-align: center;
        font-family: Inter;
        font-size: 1rem;
        width: 50px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-right: 40px;
        margin-top: 20px;
    }

    .mobile-appointment-btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 40px;
        margin-top: 30px;
    }

    .hero-image {
        width: 375px;
        height: 370px;
        justify-content: center;
        align-items: center;
        margin-left: 100px;
        margin-top: -170px;
    }

    .mobile-hero-title-section {
        display: flex;
        flex-direction: column;
    }

    .brands {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
        gap: 64px;
        align-self: stretch;
        flex-wrap: wrap;
        margin-top: 20px;
    }

    .brands-description {
        color: #7A7A78;

        text-align: center;
        font-family: Inter;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-right: 90px;

    }

    .service-hero-section {
        display: flex;
        width: 100%;
        height: 800px;
        padding: 10px 16px;
        justify-content: space-between;
        align-items: flex-start;
        position: absolute;
        margin-top: -60px;

    }


    .mobile-service-section {
        flex-direction: column;
        margin-left: -30px;
    }

    .services-title {
        color: #EEEFED;
        font-size: 4.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-right: 150px;
    }

    .services-subtitle {
        color: #EEEFED;
        margin-top: 30px;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        align-self: stretch;
        width: 350px;

    }

    .image-container {
        display: none;
    }

    .service-title {
        color: #79575A;
        font-family: Inter;
        font-size: 2.2rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .service-subtitle {
        color: #BABAB7;
        font-family: Inter;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        flex: 1 0 0;
        width: 350px;
    }

    .service-hero-background {
        background-image: none;
    }

    .accordion-mobile {
        margin-top: -10px;
    }

    .accordion-container {
        width: 400px;
        margin-left: -35px;
    }

    .blog-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        height: 1100px;
        align-self: stretch;
        margin-top: 740px;
    }

    .blog-section-background {
        display: flex;
        /* padding: 0px 16px; */
        flex-direction: column;
        align-items: center;
    }

    .blog-info {
        display: flex;
        flex-direction: column;
        width: 500px;
    }

    .blog-title {
        width: 350px;

    }

    .blog-title-container {
        margin-left: 30px;
    }

    .blog-image {
        display: flex;
        width: 500px;
        height: 417px;
        border-radius: 0;
        margin-top: -90px;
    }

    .blog-text {
        position: absolute;
        right: 170px;
        align-items: center;
        justify-content: center;
        margin-top: -150px;
    }

    .blog-title {
        color: #191919;
        text-align: center;
        font-size: 4.0rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-left: 10px;
        text-align: center;
        align-self: stretch;
    }

    .blog-title-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 450px;
        margin-top: -50px;

    }

    .blog-btn-section {
        display: flex;
        justify-content: center;
        margin-left: 50px;
        align-items: center;

    }

    .why-choose-us-section {
        display: flex;
        padding: 0px 16px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 1700px;
    }

    .why-choose-us-subtitle {
        align-items: center;
        justify-content: center;
        width: 400px;
        height: 95px
    }

    .why-choose-us-section-bg {
        background-image: none;
    }

    .why-choose-us-text {
        margin-top: -480px;
    }

    .subtitle-section-mobile {
        width: 600px;
        margin-left: 100px;
        margin-top: 10px;
    }

    .card-container {
        display: flex;
        margin-top: -90px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 400px;
        /* margin-left: 390px; */
    }

    .card-container-section {
        width: 1800px;
        height: 800px;
        /* border: 1px solid red; */
        padding: 150px;
    }

    .card {
        border-radius: 11.558px;
        overflow: hidden;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out;

    }

    .card:hover {
        transform: scale(1.05);
    }

    .card-image {
        width: 100%;
        height: auto;
    }

    .card-content {
        padding: 16px;
    }

    .card-title {
        margin-bottom: 8px;
        color: #F0F0EB;
        font-family: Inter;
        font-size: 2rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .card-subtitle {
        color: #DBDBD6;
        font-family: Inter;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 300;
        line-height: normal;

    }


    .custom-card {
        flex: 1;
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        background: #120102;
        width: 331.09px;
        height: 350.08px;
        margin-top: -28.57px;
        padding: 6.08px;
        border-radius: 12.15px;

    }

    .higher-card {
        margin-top: 28px;
    }

    /* Add hover effect for all cards */
    .custom-card:hover {
        transform: scale(1.05);
    }

    .achievements-section {

        background: #120102;
        height: 900px;

        display: flex;
        padding: 64px 16px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 80px;
        align-self: stretch;
    }

    .achievements {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        padding-top: 80px;
    }

    .achievements-mobile {
        /* margin-top: -80px; */
        margin-right: 220px;

    }

    .icon-bg {
        width: 26.4px;
        height: 26.4px;
        /* padding: 25px; */
        align-items: flex-start;
        border-radius: 188.235px;
        background: #9A8183;
        justify-content: center;
        margin-left: 60px;

    }

    .achievements-icon {
        margin-left: -13px;
        margin-top: -10px;
    }

    .achievements-icon-1 {
        margin-top: -13px;
    }

    .achievements-title {
        color: #F0F0EB;
        font-family: Playfair Display;
        font-size: 4.0rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        width: 300px;
        text-align: center;
    }

    .achievements-number {
        font-size: 5.6rem;
        color: #F0F0EB;
        font-family: Playfair Display;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-align: center;
    }

    .achievements-subtitle {
        color: #F0F0EB;
        font-family: Inter;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 200px;
        text-align: center;

    }

    .achievements-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
        margin-top: -210px;
    }

    .comment-card {
        overflow: hidden;
        position: relative;
        display: flex;
        height: 250px;
        width: 310px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 16px;
        border: 1px solid #E5E5E1;
        background: #F2E6D7;

    }

    .truncated-text {
        max-height: 592px;
        overflow: hidden;
        padding: 34px;
        color: #171F0D;
    }

    .full-text {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        padding: 10px;
        max-height: none;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;

    }

    .comment-card:hover .full-text {
        opacity: 1;
        height: 400px;
        border-radius: 16px;
        border: 1px solid #E5E5E1;
        background: #120102;
        color: #DDD4D5;
        padding: 24px;

    }

    .testimonials-section {
        display: flex;
        padding: 88px 16px;
        flex-direction: column;
        align-items: flex-start;
        gap: 48px;
        align-self: stretch;

    }

    .comment-slider {
        width: 330px;
        height: 270px;
        margin-left: 80px;


    }

    .named {
        color: white;

    }

    .comment-card:hover {
        height: 320px;
    }

    .comment-card p {
        font-family: inter;
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
    }

    .testimonials-title {
        color: #191919;
        font-family: Playfair Display;
        font-size: 4.5rem;
        font-style: normal;
        font-weight: 600;
        width: 250px;
        margin-left: 90px;
        line-height: normal;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .testimonials-subtitle {
        color: #444443;
        text-align: center;
        font-family: Inter;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        justify-content: center;
        align-items: center;
        margin-left: 40px;
        width: 350px;

    }

    .client-name,
    .user-section>.client-name {
        color: #171F0D;
        font-family: Inter;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

    }

    .user-section>.client-name {
        margin-left: -20px;
    }

    .truncated-user-section>.client-company {
        color: #87B44D;
        font-family: Inter;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

    }

    .user-section>.client-company {
        color: #A99D8E;
        font-family: Inter;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: -20px;
    }

    .comment-text-area {
        margin-left: 20px;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 56px;
        align-self: stretch;
        height: 950px;
    }

    .subscrber-form {
        display: flex;
        padding: 30.534px;
        flex-direction: column;
        align-items: flex-start;
        gap: 22.901px;
    }

    .subscribe-form-bg {
        display: flex;
        padding: 30.534px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 22.901px;
        margin-top: -185px;
        background: #120102;
        width: 501px;
        height: 331px;
        margin-left: -120px;
        /* border: 1px solid red; */
        border-radius: 0;
    }

    .subscribe-form-title {
        color: var(--shade-white, #FFF);
        font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
        font-family: Playfair Display;
        font-size: 3.2rem;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        /* 38.4px */
        letter-spacing: -1.28px;
        align-self: stretch;
        /* border: 1px solid red; */
        text-align: left;
        margin-left: 70px;
    }

    .subscribe-form-subtitle {
        color: var(--office-brown-100, #E4DBDB);
        font-feature-settings: 'cv04' on, 'cv03' on, 'cv01' on;
        font-family: Inter;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 300;
        line-height: 145%;
        width: 290px;
        text-align: left;
    }

    input {
        /* display: flex; */
        width: 319px;
        height: 56px;
        padding: 16px;
        align-items: center;
        gap: 12px;
        align-self: stretch;
        border-radius: 6px;
        border: 1px solid var(--grey-300, #D0D5DD);
        background: var(--shade-white, #FFF);
        margin-left: 50px;
    }

    ::placeholder {
        padding-left: 18px;
        color: #98A2B3;
        font-feature-settings: 'cv04' on, 'cv03' on;
        font-family: Inter;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 300;
        line-height: 145%;
        /* margin-top: 150px; */
        /* 20.3px */
    }

    input:focus {
        padding-left: 30px;
        font-size: 1.4rem;
        font-family: Inter;
    }



    .email-icon {
        margin-right: -78px;
        margin-top: 17px;
        z-index: 999;
    }

    .business-links-title {
        color: #8D8484;
        font-family: Inter;
        font-size: 1.3rem;
        font-style: normal;
        font-weight: 400;
        line-height: 145%;
        align-self: stretch;
    }

    .company-links-text {
        color: #3E3838;
        font-family: Inter;
        font-size: 1.3rem;
        font-style: normal;
        font-weight: 400;
        line-height: 145%;

        width: 118px;
    }

    .link-section {
        display: flex;
        align-items: flex-start;
        gap: 30px;
        flex: 0 0 1;
        align-self: stretch;
        margin-top: -170px;
        margin-left: -40px;
        width: 400px;
    }

    .footer-links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 14px;
    }



    .cta-section {
        display: none;
    }

    .privacy-container {
        margin-top: 90px;
        margin-left: 35px;
    }

    .mobile-cta-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: -40px;
    }

    .info {
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-top: 30px;

    }

    .info-icon {
        margin-left: 160px;
    }

    .company-address {
        color: #3E3838;
        text-align: right;
        font-family: Inter;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .company-email-address {
        color: #3E3838;
        font-family: Inter;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        text-align: right;
    }

    .copyright-text {
        color: #514A4A;
        text-align: right;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        flex: 1 0 0;
        text-align: left !important;
    }

    .social-icons {
        gap: 60px;
        align-items: center;
        margin-left: 40px;
    }


    .footer-mobile-logo {
        display: block;
        margin-left: -50px;
        margin-top: -50px;
    }

    .footer-logo {
        display: none;
    }

}


/* mobile views */




/* ButtonWithDropdown.css */
.button-with-dropdown {
    position: relative;
    display: inline-block;

}


.dropdown-new {
    display: block;
    position: absolute;
    top: 100%;
    padding: 15px 0 15px 15px;
    padding-top: 15px;
    /* left: 0; */
    /* background-color: #fff; */
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
    /* border: 1px solid #ddd; */
    /* border-top: none; */
    /* z-index: 1; */


    background-color: #f1f1f1;
    min-width: 313px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-left: -130px;
    margin-top: 8px;
    border-radius: 4px;
    border: 1px solid #DDD4D5;
}

.dropdown-item-new {
    display: block;
    padding: 15px;
    text-decoration: none;
    /* background-color: #120102; */

    /* color: #333; */
    transition: background-color 0.3s ease-in-out;
}

.dropdown-item-new-link {
    color: #360308;
    /* Paragraph/Large: Medium */
    font-family: Inter;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.dropdown-item-new:hover {
    background-color: #f2f2f2;
}